.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 31px;
  flex-wrap: wrap;

  @media all and (max-width: 640px) {
    flex-direction: column;
    row-gap: 15px;
    margin-top: 20px;
  }

  a {
    color: var(--color-secondary);

    @media all and (max-width: 640px) {
      font-size: 14px;
    }
  }
}