.form {
  $self: &;

  border: 1px solid var(--color-border);
  border-radius: var(--radius-lg);

  .form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;

    svg {
      margin-bottom: 12px;
    }

    &__title {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__title {
    @media all and (max-width: 768px) {
      font-size: 25px;
    }

    @media all and (max-width: 640px) {
      font-size: 20px;
    }

    @media all and (max-width: 480px) {
      font-size: 18px;
    }
  }

  &__header {
    padding: 30px;

    @media all and (max-width: 640px) {
      padding: 15px;
    }
  }

  &__body {
    background-color: var(--color-gray);
    padding: 50px;
    border-radius: var(--radius-lg);
    display: flex;
    flex-direction: column;

    @media all and (min-width: 641px) {
      min-height: 369px;
    }

    @media all and (max-width: 640px) {
      padding: 30px 15px;
    }
  }

  &__body-error {
    color: var(--color-danger);
    margin-bottom: 10px;

    @media all and (max-width: 640px) {
      font-size: 13px;
    }
  }

  &__body-desc {
    margin-bottom: 32px;
    font-size: 14px;
    line-height: 20px;
  }

  &__body-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;

    @media all and (max-width: 640px) {
      font-size: 17px;
      margin-bottom: 10px;
    }
  }

  &__actions {
  }

  &__step {
    display: none;
    flex-grow: 1;
    flex-direction: column;

    &[data-step="error"], &[data-step="success"] {
      @media all and (max-width: 640px) {
        min-height: 200px;
      }
    }

    &[data-step="code"] {
      max-width: 399px;
      margin: 0 auto;

      #{$self}__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;

        button {
          color: var(--color-secondary);
          font-size: 14px;

          &.send {}

          &.cancel {
            font-weight: 500;
          }
        }
      }
    }
  }

  &__group {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    @media all and (max-width: 500px) {
      flex-direction: column;
      align-items: stretch;
      row-gap: 15px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    #{$self}__field {
      @media all and (min-width: 501px) {
        margin-right: 20px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__field {
    flex-grow: 1;

    &.disabled {
      opacity: .8;
      pointer-events: none;
    }

    &-card {
      width: 100%;
      display: flex;

      .input-card {
        flex-grow: 1;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }

      .input-exp {
        width: 37%;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        text-align: center;
        //border-left-color: transparent;
      }
    }

    &-code {
      position: relative;
      width: 100%;
      display: flex;
      margin: 10px -5px 0;

      input {
        width: calc(100% / 6 - 10px);
        margin: 0 5px;
        padding: 10px;
        text-align: center;
        height: 69px;
        font-size: 20px;
        font-weight: 500;

        @media all and (max-width: 640px) {
          width: calc(100% / 6 - 5px);
          margin: 0 2.5px;
          height: auto;
          aspect-ratio: 1;
        }

        @media all and (max-width: 480px) {
          font-size: 14px;
        }
      }
    }

    &-cvv {
      max-width: 90px;
      input {
        text-align: center;
      }
    }

    label {
      display: flex;
      flex-wrap: wrap;
    }

    &-label {
      width: 100%;
      margin-bottom: 10px;
      font-size: 14px;
      color: var(--color-text);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
    }

    &-error {
      font-size: 12px;
    }

    &--error {
      #{$self}__field-label {
        color: var(--color-danger);
      }

      input {
        border-color: var(--color-danger) !important;
        color: var(--color-danger) !important;
      }
    }
  }

  &__publicOffer {
    color: var(--color-text);
    text-align: center;
    margin-top: 20px;
    line-height: 20px;
    font-size: 14px;

    @media all and (max-width: 480px) {
      font-size: 12px;
    }
  }
}