input, textarea, select {
  outline: none;
  font-size: 16px;
  font-family: var(--font-family);
  width: 100%;
  color: var(--color-black);
  font-weight: 500;

  &:focus {
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--color-black);
    font-weight: 500;
    font-size: 16px;
  }
}