input, textarea, select {
  outline: none;
  padding: 18.5px 25px;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  font-size: 16px;
  font-family: var(--font-family);
  background-color: var(--color-white);
  width: 100%;
  letter-spacing: 1px;
  transition: var(--transition);

  @media all and (max-width: 640px) {
    padding: 15px 10px;
    border-radius: var(--radius-sm);
  }

  @media all and (max-width: 480px) {
    font-size: 12px;
  }

  &:focus {
    border-color: var(--color-primary);
  }

  &::placeholder {
    color: var(--color-text);
    font-size: 16px;

    @media all and (max-width: 480px) {
      font-size: 12px;
    }
  }
}