<footer class="footer">
    <div class="footer__left">
        <a href="https://a-pay.uz/publichnaya-oferta-ob-ispolzovanii-platezhnogo-servisa-a-pay">Публичная оферта</a>
    </div>
    <div class="footer__middle">
        <svg width="52" height="20" viewBox="0 0 52 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="#logoPci"/>
        </svg>
    </div>
    <div class="footer__right">
        <a href="https://a-pay.uz/contacts">Служба поддержки</a>
    </div>
</footer>