<header class="header container">
    <div class="header__left">
        <a href="https://a-pay.uz" class="header__logo">
            <svg width="124" height="44" viewBox="0 0 124 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use xlink:href="#siteLogo" />
            </svg>
        </a>
    </div>
    <div class="header__right">
        {{> language-switcher }}
    </div>
</header>

