<div class="languageSwitcher">
    <div class="languageSwitcher__head">
        <div class="languageSwitcher__item">
            <div class="languageSwitcher__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" data-livestyle-extension="available">
                    <use xlink:href="#ruFlag"/>
                </svg>
            </div>
            <div class="languageSwitcher__arrow">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="#arrowDown"/>
                </svg>
            </div>
        </div>
    </div>
    <div class="languageSwitcher__body">
        <a href="/" class="languageSwitcher__item" data-lang="ru">
            <div class="languageSwitcher__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" data-livestyle-extension="available">
                    <use xlink:href="#ruFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">Рус</span>
        </a>
        <a href="/cuz.html" class="languageSwitcher__item" data-lang="cuz">
            <div class="languageSwitcher__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" data-livestyle-extension="available">
                    <use xlink:href="#uzFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">Ўзб</span>
        </a>
        <a href="/uz.html" class="languageSwitcher__item" data-lang="uz">
            <div class="languageSwitcher__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none" data-livestyle-extension="available">
                    <use xlink:href="#uzFlag"/>
                </svg>
            </div>
            <span class="languageSwitcher__label">Oʻzb</span>
        </a>
    </div>
</div>