@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 0rem));
  }
}

body {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 100vh;
  font-family: var(--font-family);
}

a {
  color: var(--color-primary);
  font-weight: 300;
  transition: color var(--transition);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.d-none {
  display: none !important;
}

html {
  &.locked {
    overflow: hidden;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../images/payment-pattern.png") 0 0 repeat-y;
}

.container {
  max-width: var(--container-width);
  margin: auto;
  width: 100%;
}

.bold {
  font-weight: 700;
}