:root {
  --initial-font: "Arial", "Helvetica", "sans-serif";
  --font-family: "TTNormsPro", var(--initial-font);

  --font-weight-r: 400;
  --font-weight-m: 500;
  --font-weight-s: 600;
  --font-weight-b: 700;

  --container-width: 620px;

  --radius-sm: 10px;
  --radius-md: 12px;
  --radius-lg: 16px;

  --transition: .3s;
}