.form {
  $this: &;

  &__header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__header-row {
    width: 100%;
    padding: 8px;

    &.p-y {
      padding: 8px 0;
    }
  }

  &__header-merchant {
    display: flex;

    &-icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: var(--radius-lg);
      border: 1px solid rgba(236, 239, 245, 1);
      flex-shrink: 0;
      margin-right: 8px;
      padding: 5px;
      color: var(--color-gray);

      svg, img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-left {
      display: flex;
      align-items: center;
    }

    &-title {
      color: var(--color-gray);
      font-size: 14px;
      line-height: 18px;
    }

    &-name {
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
    }
  }

  &__header-payment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-col {
    display: flex;
    flex-direction: column;
    gap: 2px;

    &-name {
      color: var(--color-gray);
      font-size: 14px;
      line-height: 18px;
    }

    &-value {
      font-weight: 500;
      line-height: 20px;
    }
  }

  &__amount {
    background-color: var(--color-white);
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 10px 16px;
    border-radius: 8px 8px 24px 24px;
    text-align: center;
    display: flex;
    flex-direction: column;

    &-name {
      font-size: 14px;
      color: var(--color-gray);
      line-height: 18px;
    }

    &-sum {
      font-size: 36px;
      font-weight: 700;

      .currency {
        font-size: 24px;
        color: var(--color-gray);
      }
    }
  }

  [data-details-type="status"] {
    &[data-status="PENDING"] #{$this}__header-col-value {
      color: var(--color-warning);
    }

    &[data-status="PAID"] #{$this}__header-col-value {
      color: var(--color-primary);
    }

    &[data-status="CANCELED"] #{$this}__header-col-value {
      color: var(--color-danger);
    }
  }

  &[data-current-step="code"] {
    .form__body {
      min-height: 0;
    }
  }

  &[data-current-step="success"],
  &[data-current-step="error"] {
    [data-step-code="card"] {
      display: block !important;

      .form__header-top, .form__header-payment-info {
        display: none;
      }
    }
  }

  &[data-current-step="code"],
  &[data-current-step="loading"],
  &[data-current-step="success"],
  &[data-current-step="error"] {
    .form__amount {
      display: none;
    }

    .form__header {
      border-radius: 24px;
    }

    .form__body {
      margin-top: 8px;
    }
  }
}